<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Stats</title>
        <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/styles.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
    </head>

    <body>
        <div class="center-container"> 
            <h1>Welcome to the Spotify Stats App</h1>
            <a href="{{url_for('login')}}" id="login-button">Login with Spotify</a>
        </div>

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>